# Archivo de ejemplo para variables de entorno NO SON REALES

# Awa Cognito - Configuration
AWS_COGNITO_REGION=us-east-1
AWS_COGNITO_USER_POOL_ID=us-east-1_XXXXXXXXXXXX
AWS_COGNITO_CLIENT_ID=1a2b3c4d5e6f7g8h9i0j1k2l3m
AWS_ACCESS_KEY_ID=AKIAIOSFODNN7EXAMPLE
AWS_SECRET_ACCESS_KEY=wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
COGNITO_CLIENT_SECRET=19rjkp90uvv8s6u0kg3cs5f909lp1opfkafb3kmq3s8g4770dd

# Roles: Se requiere este codigo si uno quiere ser admin, para poder registrar usuarios con rol admin
ADMIN_REGISTRATION_CODE=pon-un-codigo-secreto-aqui

# Master Admin: Código adicional para permitir a un admin gestionar usuarios (update/delete).
MASTER_ADMIN_CODE=pon-otro-codigo-secreto-aqui

# BD - PostgreSQL Configuration
DATABASE_URL=postgresql://user:password@db:5432/restaurantes_db
DATABASE_USER=restaurantes_user
DATABASE_PASSWORD=password_segura_123
DATABASE_NAME=restaurantes_db
DATABASE_HOST=db
DATABASE_PORT=5432


# FASTAPI - Server Configuration
API_HOST=0.0.0.0
API_PORT=8000
ENVIRONMENT=development

# JWT - Token Configuration
JWT_ALGORITHM=HS256
JWT_SECRET_KEY=tu-clave-secreta-muy-larga-y-segura-aqui
JWT_EXPIRATION_HOURS=24